{% extends "base.html" %}



{% block content %}

<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
<h1>ACERCA DE NOSOTROS</h1>

<h2> Quienes Somos</h2>
<p>Somos una empresa establecida en la ciudad de tambo-Huancayo desde hace 20 años con el objetivo de contribuir en a salud visual como compromiso social y eje social, por una causa que está directamente relacionada con nuestra razón de ser como empresa:  Óptica 
Leo Visión a través de su programa social del amor naca la vista, contribuye a mejorar la salud visual de las personas de menos recursos, a la vez que genera una cultura de prevención hacia la ceguera
</p>
<h2> Mision</h2>
<p>Contribuir e al desarrollo social del Perú a través de programas de salud visual manteniendo un espíritu de mejora, e innovación con apoyo de la tecnología. Con el fin de conseguir mejores servicios.</p>

<h2> Vision</h2>
<p>Abrir los ojos de quienes no ven, ser una empresa a la vanguardia en los servicios de óptica y salud visual, ofrecer a los clientes lo mejor para sus ojos, otorgando fiabilidad, confianza y comodidad </p>

<h2>Valores</h2>

<h3>Pasión </h3>
<p>Por los resultados 
me entrego a mi trabajo en 
búsqueda de la excelencia para
en cumplimiento de objetivos comunes.
</p>
<h3>Compromiso</h3>
<p>Doy lo mejor de mí a la empresa 
A mi equipo de trabajo y a la comunidad
</p>
<h3>Integridad</h3>
<p>Actuó con la honestidad, siendo 
congruente entre lo que pienso
digo y hago.
</p>

</div>
</div>

{% endblock %}